[submodule "GRAB"]
	path = GRAB
	url = git@github.com:dxyang/GRAB.git
[submodule "pytorch3d"]
	path = pytorch3d
	url = https://github.com/facebookresearch/pytorch3d.git
[submodule "liegroups"]
	path = liegroups
	url = https://github.com/utiasSTARS/liegroups.git
